html, body {
  height:100%;
}

#container {
	margin-left: 16px;
}

#nav {
	background-color: #F5F5FF;
	padding: 16px;
	margin-right: 32px;
	margin-bottom: 16px;
	float: left;
	max-width: 200px;
	text-transform: uppercase;
	border-radius: 16px;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 2px;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#nav img {
	width: 170px;
}

#nav .header {
	margin-bottom: 40px;
}

#nav h3 {
	color: #808080;
}

#nav #home {
	text-decoration: none;
}

#nav a, #nav a:link, #nav h3 a:visited {
	text-decoration: none;
}

#nav ul {
	padding-left: 4px;
}

#nav a:link, #nav a:visited {
	color: black;
}

#nav a:hover {
	color: DodgerBlue;
}

#nav ul li {
	list-style-type: none;
	margin-bottom: 10px;
}

#nav .external {
	list-style-type: ;
}

#content {
	max-width: 800px;
	margin-top: 32px;
	margin-left: 232px;
}

#content h1 {
	text-align: center;
	margin-top: 20px;
	max-width: 90%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	font-size:36px;
	font-family: "adelle", serif;
	font-style: normal;
	font-weight: 600;
	line-height: 64px;
	color: #505050;	
}

#content hr {
	width: 66%;
	margin-top: 40px;
	margin-bottom: 40px;
}

#content li { 
	margin-left: -1.5em;
	margin-right: 0; 
} 

#content p , #content ul li, #content td {
	color: #333333;
	font-family: "minion-pro",sans-serif;
	font-size: 18px;
	line-height: 26px;
	font-style: normal;
	font-weight: 400;
}

#content li {
	margin-top: 10px;
}

#content p a:link, p a:visited {
	color: steelblue;
	text-decoration: none;
}

#content p a:hover {
	color:cornflowerblue;
	background-color: whitesmoke;
}

.invisible {
	visibility: hidden;
}

#content h3 a a:link, h3 a:visited {
	text-decoration: none;
}

#content p code, #content ul li code, #content td code {
	font-size: 14px;
	background: whitesmoke;
}

#content h3 {
	font-size: 24px;
}

#content h3 code {
	font-size: 22px;
}

#content pre {
	padding: 16px;
	border-radius: 16px;
	background: #F8F8F8;
	line-height: 24px;
	color: black;
	font-family: Consolas, Monaco,"Lucida Console"; 
}


